body{
    background: url(img/back1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}





.card {
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding-bottom: 5%;
    border-radius: 30px;
  }


.card:hover{
    background-color: rgba(255, 255, 255, 0);
}
  

.container {
    padding: 2px 16px;
}



h1 {
    text-align: center;
    color: #D90020;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}


li{
    margin-bottom: 20px;
}


h2 {
    text-align: center;
    color: #D90020;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}


p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}



iframe {
    margin-left: 22%;
    margin-right: 5%;
}



img {
    width: 50%;
    margin-left: 28%;
    margin-right: 5%;
}


.center{
    text-align: center;
    color: #0496ff;
}



@media screen and (max-width:767px) {
    *{
        display: block;
    }

    iframe{
        width: 50%;
        padding: auto;
    }
}




@media screen and (min-width:768px) and (max-width:1559px) {
    *{
        display: block;
    }

    iframe{
        width: 60%;
        padding: auto;
    }
}